[defaults]
# 指定默认的 Inventory 文件路径
inventory = inventories/own/hosts.ini
# 指定 roles 搜索路径, 可以指定多个路径, 路径之间用冒号分隔
roles_path = ./roles:/etc/ansible/roles
# 其他配置
# 默认的远程用户（ssh连接时使用的用户名）
remote_user = root
# 是否禁用主机密钥检查，避免每次连接新主机时提示确认
host_key_checking = False
# 任务收集策略，`smart` 是默认值，会根据具体情况决定是否收集事实数据
gathering = smart
# 事实缓存策略，`memory` 是默认值，将 facts 缓存到内存中
fact_caching = memory
# 是否禁用弃用警告
deprecation_warnings = False
# 并发任务数，默认值为 10
forks = 10
# 标准输出回调插件，默认值为 `human`，可以设置为 `yaml`、`json` 等
# stdout_callback = yaml


# 设置默认的日志文件路径，Ansible 执行时会将日志输出到此文件
# log_path = /var/log/ansible/ansible.log
# 配置日志级别和输出格式（可选）
# logger_level = DEBUG
# logger_format = json

[ssh_connection]
# 是否启用 ssh 管道传输，默认值为 False, 以提高 SSH 连接性能，减少 SSH 连接的开销
pipelining = True
# 长连接复用，减少握手
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
# 是否启用权限提升（如 sudo）
become = True
# 权限提升的方式，常用的有 sudo、su 等
become_method = sudo
# 权限提升后的用户，通常设置为 root
become_user = root
# 是否要求输入密码，如果设置为 `True`，在权限提升时会提示用户输入密码
become_ask_pass = False
