{
  "log-driver": "{{ docker_daemon_config.log-driver }}",
  "log-opts": {
    {% for key, value in docker_daemon_config['log-opts'].items() %}
    "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "storage-driver": "{{ docker_daemon_config.storage-driver }}"
  {% if docker_daemon_config.insecure-registries | length > 0 %},
  "insecure-registries": [
    {% for registry in docker_daemon_config.insecure-registries %}
    "{{ registry }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
  {% endif %}
  {% if docker_daemon_config.registry-mirrors | length > 0 %},
  "registry-mirrors": [
    {% for mirror in docker_daemon_config.registry-mirrors %}
    "{{ mirror }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
  {% endif %}
}