proxy_hide_header Access-Control-Allow-Origin;
proxy_hide_header Access-Control-Allow-Methods;
proxy_hide_header Access-Control-Allow-Headers;
proxy_hide_header Access-Control-Allow-Credentials;
proxy_hide_header Access-Control-Max-Age;

fastcgi_hide_header Access-Control-Allow-Origin;
fastcgi_hide_header Access-Control-Allow-Methods;
fastcgi_hide_header Access-Control-Allow-Headers;
fastcgi_hide_header Access-Control-Allow-Credentials;
fastcgi_hide_header Access-Control-Max-Age;

add_header Access-Control-Allow-Origin * always;
add_header Access-Control-Allow-Methods 'GET, POST, PUT, DELETE, OPTIONS' always;
add_header Access-Control-Max-Age 3600 always;
add_header Access-Control-Allow-Headers * always;
#add_header Access-Control-Allow-Headers 'Origin, Content-Type, X-Auth-Token, Authorization, X-Requested-With, project, platform, code, source, Source , brand, Brand , Access-Name, access-name, x-channel-code ' always;

fastcgi_connect_timeout 300s;
fastcgi_send_timeout 300s;
fastcgi_read_timeout 300s;
proxy_connect_timeout 300s;
proxy_send_timeout 300s;
proxy_read_timeout 300s;