{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m",
    "max-file": "3"
  },
  "storage-driver": "overlay2",
  "registry-mirrors": [
    "{{ docker_registry_mirror }}"
  ],
  "data-root": "{{ docker_data_root }}",
  "live-restore": true,
  "iptables": true
}