# 安全头设置
add_header X-Frame-Options "SAMEORIGIN" always;
add_header X-Content-Type-Options "nosniff" always;
add_header X-XSS-Protection "1; mode=block" always;
add_header Referrer-Policy "strict-origin-when-cross-origin" always;
# HSTS头（增强安全性：强制浏览器只能通过 HTTPS 访问网站。）
add_header Strict-Transport-Security "max-age=63072000" always;

# 限制访问敏感文件
location ~ /\. {
    deny all;
    access_log off;
    log_not_found off;
}

# 禁止访问以下后缀文件
location ~* \.(conf|log|ini|sh|sql|env|yml)$ {
    deny all;
    access_log off;
    log_not_found off;
}